.content {
    display: flex;
    flex-direction: row;
    height: 100%;
}


.container {
  width: 80%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: row;
}

.wrapper {
  flex: 1;
  padding: 1rem;
}


.txtRaw {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  resize: none;
}

.txtRaw:focus {
  outline: none;
}

.preview {
  height: 100%;
  overflow-y: auto;
}
